body {
  text-align: center;
  .container {
    width: 400px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 0.5px 0.5px grey;
    margin: 0 auto;
    input {
      margin: 10px;
      box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
    }
    #passwordLength {
      border-radius: 5px;
      border: 1px solid black;
      padding: 5px;
      text-align: center;
    }
    #generatePasswordBtn {
      margin: 10px;
      border-radius: 5px;
      border: 1px solid black;
      box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
      padding: 10px;
      font-weight: bold;
    }
    #generatePasswordBtn:hover {
      background-color: greenyellow;
    }

    .outputContainer {
      display: flex;
      justify-content: center;
      margin: 10px;

      .password {
        height: 20px;
        min-width: 300px;
        border: 1px solid black;
        border-radius: 5px;
        margin-right: 10px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
      }
    }
  }
}
